@font-face {
    font-family: "StratosSkyeng";
    font-style: normal;
    font-weight: 400;
    font-display: swap;
    src: url("./assets/fonts/stratosskyengweb-regular.woff2") format("woff2");
  }
  
@font-face {
    font-family: "StratosSkyeng";
    font-style: normal;
    font-weight: 500;
    font-display: swap;
    src: url("./assets/fonts/stratosskyengweb-medium.woff2") format("woff2");
  }
*{
    padding: 0;
    margin: 0;
}
.page-container {
    background-color: #004980;
    display: flex;
    width: 100vw;
    height: 100vh;
    justify-content: center;
    align-items: center;
    font-family: StratosSkyeng;
  }
.lvl-box{
    display: flex;
    border-radius: 12px;
    background: #C2F5FF;
    width: 480px;
    height: 459px;
    flex-shrink: 0;
    color: #004980;
    text-align: center;
    flex-direction: column;
    align-items: center; 
}
.lvl-box-title{
    font-size: 40px;
    font-style: normal;
    font-weight: 400;
    line-height: 48px;
    padding-top: 50px;
    padding-bottom: 48px;
    padding-left: 136px;
    padding-right: 136px;
}
.lvl-box-numbers{  
    display: flex;
    height: 98px;
    gap: 26px;
    
}
.lvl-box-numbers input[type="radio"]{
    display: none;
    
}
.lvl-box-numbers input[type="radio"]:checked+label {
    background-color: white;
    border: 2px solid #004980;
}
.lvl-box-numbers label{
    box-sizing: border-box;
    background-color: white;
    color:  #0080C1;
    font-family: StratosSkyeng;
    font-size: 64px;
    font-style: normal;
    font-weight: 400;
    line-height: 72px;
    width: 97px;
    height: 100%;
    border-radius: 12px;
    border-color: white;
    cursor: pointer;
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.lvl-box-numbers label:hover{
    box-shadow: 0 0 0 0.5px #004980;
}
.start-button{
    width: 246px;
    height: 50px;
    color: white;
    background: #7AC100;
    border-radius: 12px;
    border-color: #7AC100;
    margin-bottom: 50px;
    margin-top: 67px;
    font-family: StratosSkyeng;
    font-size: 24px;
    font-weight: 400;
    line-height: 32px;
    letter-spacing: 0em;
    text-align: center;
    cursor: pointer;

}
.start-button:hover{
    box-shadow: 0 0 0 2px #5bbd68;
}